sudo: required

services:
  - docker

env:
  global:
  - secure: fILf4GslAy3BESZrXbYvdEdJYtM3Vhj4NFL9G60E4eUMw8lBzg6VkU1fohL4LIVeY6u2g5yKfInIjDdUY6BnX8k/Q44xrTDME7IkSJgwFcqaIBPPDtsCIUqRVh17HpNO1hLLpGTWpxyUDeeLAmW7jO4tYCmJsujuxL90/qDTHVRBPb8rp+bMhy9zHAf+2gzJ6TYCzpq/JFFCY0B0SksQFaMQIdPZmejUqCsYQe7m1QB8YTcA/Kupz4XQXGqm9FSjWtT9NnGuUTh6gkg53v4iaizl+2IjznQtdLXVCON1RbXaWXHACgdQLWaxfSJp7X/+RHR+ILhhI3SlOpCfa1C2CcVav4UlWpAda7QhXzfe9CfggV1NmsvhdGjynDq0LAl3C5nZOOkIRCEJ3fHaQj9z5ChNL2cKWYhqKD2kdMHEUe5K0BtdpognQcKVwmwFM6cwxsqXmWOUZ75daNL/dvBtZui8b8ErdRUb/ktjm2wV7w5/5Lp9D0mCmcqNHeXLTRIjtAK1N3EgocOodo7S2KNA5Lz3BRFa+7CzS5cz8SRXQXkLQKzudHdk3rnIF+gdz+NetegO3yyokO28qMASqBtjSI1//abjDqo5jeSCjnFJsENX6HvKmDSYhf7CZ98auRWJWGW9qehHPlTTd3884L52uQBdZEaZ5AaXse/TB6WV9OE=
  - secure: x0c528lYVaF8dEiPj2CyCdTE5G0NnDXZT/MPuE/gg4COZMlUTzhwgR37WtoQOUvXp9MYHcRmcbLl3+/fMU1e7iDd/NXyAzI8dW0DTNg6kPB9m0UNe8CavYLWiqRelrBACnkXHNpvo7cncL95BUk+4X2c9disD6tj/Z5181YsQ4CpeEAb4uqT6D7r5aAtDnwHXt3W1i2jUlJUVe/8/HgA98R7F59bQBpxxMigqFeP/W4aJUAtqgghSvuDxE9efMOxufx/s3fL13bYrLjjydZWlfyToCWWb9JMUX8hYWp/h3tsf8BtYLaDnmPdzD9WF1i89wis1+JcutcTn1WhW6JgL64tD7w4yZJjspQ9UAgbeAv72+Qcw1yewMMK0uf9aBtauPiaey2Z3o3PLWVo15Wqay7WpDZopPoIv3Tkzbeys9AUiwLSNvzf4KhGV9fVqhRYcm2DDFepOGxdNHae9ElEJ/+kdRJzfBlwX6xUjHa08p9WewApNoH3hveC5i8MEfbFt1/3E26m0xThHjwUKbJjrhzsR8XEF5uA7GJEwR/HciFF0DEFn3bHFlTM6v18cBLsKOimmHLEHtQ1vwlFTKALik8BmnqipVURdUfZNVAZItq6ldmz/XS1JBg49M/yHRc/X5hlcRVPVFMJnhew7HtGwqiZyzdmEB5tQtei2PcANcM=
  - secure: XNTRbkVKG9ARPg+F7jfMmPqsQOvdMrLfjzhgV4QbXlqVEIHyLs/lUEjitKivucitv9mwzR2ji6YPy+YWT7+IDbxXTMadSJkdztg53Mo91iEQzElyGkeAoMzv6GRxdjgdf8xZuWVLLgoRLE8qkSm/uyo+qFjV01Nz5pNdEgTWI1uXOiZ5cThOnOZV5vNIT+PowPTK2aXrQYLrv9aKOMxpHO/5BNQgo4SqSuQQdB2V3kGtKnR2iJxj0vZYoGwQCVQQ/jXbtfsX192NQW3WVFVfYH8NOzwHHTIUP3l7USkVBnkVqeKTJvLOCcLMgRtf9gI8Uc84dXO8kStEhdgUojUNVdurtxHOBLyMAiWiMEIaSigl4gRuFvVd6fVzHKhMFrMHpj+W8Gwb716/cNMjQm18Rvr+LVkc4okCk31GjeXNgK81YlwslckCeOEwLGm2KFZLhINjnkMOJwMBuBHZAN9sqACDdF2izE5rhNEGZy7sdkdKVwg+IxyyeOknzCMWjB78iIiqH+tZQqeHj+eDEMfdiA9hpYDMHtn/zlOhrIdCmoGCeaClE4kPY5Qn3sQwVDEXuQiQgiUlDOYdXnFGeStqe7EjXwvdJ1fGvCQQS6RxZY4qGGXtSsw9dVxHjCMO68TzpiAlY9OXQ9GWy5bS3cNk55S+DpR0WMFGRMIkzYPopVs=


install:
    - echo "install nothing!" # put your normal pre-testing installs here

script:
    - echo "no tests!" # put your normal testing scripts here

after_success:
  - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
  - export REPO=cespi/php-5.3
  - export TAG=`if [ "$TRAVIS_BRANCH" == "master" ]; then echo "latest"; else echo $TRAVIS_BRANCH ; fi`
  - docker build -f Dockerfile -t $REPO:cli-$TAG .
  - docker build -f apache/Dockerfile -t $REPO:apache-$TAG ./apache
  - docker build -f fpm/Dockerfile -t $REPO:fpm-$TAG ./fpm
  - docker push $REPO:cli-$TAG
  - docker push $REPO:apache-$TAG
  - docker push $REPO:fpm-$TAG
  - envsubst '$TAG' < with-modules/Dockerfile.tpl > with-modules/Dockerfile
  - docker build -f with-modules/Dockerfile -t $REPO:modules-cli-$TAG ./with-modules
  - envsubst '$TAG' < with-modules/apache/Dockerfile.tpl > with-modules/apache/Dockerfile
  - docker build -f with-modules/apache/Dockerfile -t $REPO:modules-apache-$TAG ./with-modules/apache
  - envsubst '$TAG' < with-modules/fpm/Dockerfile.tpl > with-modules/fpm/Dockerfile
  - docker build -f with-modules/fpm/Dockerfile -t $REPO:modules-fpm-$TAG ./with-modules/fpm
  - docker push $REPO:modules-cli-$TAG
  - docker push $REPO:modules-apache-$TAG
  - docker push $REPO:modules-fpm-$TAG
